@tailwind base;
@tailwind components;
@tailwind utilities;

#canvas-container {
    max-width: 100%;
    overflow: hidden;
}

#certificateCanvas {
    max-width: 100%;
    height: auto;
}

.draggable-text {
    touch-action: none;
    user-select: none;
}

input[type="range"] {
    @apply h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-blue-500 rounded-full cursor-pointer;
}

.form-checkbox {
    @apply h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500;
}